/* Images
------------------------------------- */
.vince-image {
  /* position: fixed; */
  width: 285px;
  height: 350px;
  float: right;
  padding: 8%:
}

.anne-image {
/*   position: fixed;  */
  width: 285px;
  height: 350px;
  float: left;
  padding: 8%;
}

figcaption {
  /* border: 1px #cccccc solid; */
  padding: 4px;
  /* margin: auto; */
  /* float: right; */
  max-width: 250px;
  font-size: 0.75em;
  font-weight: lighter;
 }

/* Global
------------------------------------- */
.header-images {
/*   width: 100%; */
  background-size: cover;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Audio
------------------------------------- */

.vince-audio {
  width:250px;
  background-color: #ffffff;
  float:right;
}
