/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33% !important;
  padding: 5px !important;
}

img henry {
float: left;
margin-left: -20vw !important; width: 17vw !important;
}

img qb{
float: right;
margin-right: -20vw !important; width: 17vw !important;
}

.row {
  display: flex;
}

* {
  box-sizing: border-box;
}

header{
  background-color: #C7CCDB;
  color: #343434;
}
